.nav {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #f3f8fb;
	padding: 12px 0 11px;

	.nav__logo {
		display: flex;
		align-items: center;
		gap: 35px;
	}

	.nav__catalog {
		margin-left: 85px;
		padding: 11.5px 31px;
		font-size: 18px;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.nav__location {
		margin-left: 47px;
	}

	.nav__email {
		position: relative;
		margin-left: 130px;
		font-size: 18px;
		font-weight: 500;

		&::after {
			content: url('../../img/ic_mail.svg');
			position: absolute;
			width: 25px;
			height: 20px;
			left: -40px;
		}
	}

	.nav__whatsapp {
		display: none;
	}

	.nav__phone {
		position: relative;
		margin-left: 56px;
		font-size: 18px;
		font-weight: 500;

		&::after {
			content: url('../../img/ic_phone.svg');
			position: absolute;
			width: 20px;
			height: 20px;
			left: -40px;
			opacity: 0.5;

			@media only screen and (max-width: 320px) {
				& {
					position: relative;
				}
			}
		}
	}

	.nav__burger {
		background-color: transparent;
		display: none;
	}

	.nav__switch-lang {
		margin-left: auto;
		border-radius: 20px;
		border: 3px solid #f3f8fb;
		background: #f3f8fb;
		display: flex;
		gap: 0;

		.nav__lang-eng,
		.nav__lang-rus {
			border: 3px solid #f3f8fb;
			padding: 12.5px 12px;

			&:not(.active) {
				background: transparent;
			}
		}

		.nav__lang-eng {
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
		}

		.nav__lang-rus {
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}

		.active {
			background-color: #fff;
		}
	}

	.nav__menu-mobile {
		display: none;
	}

	@media only screen and (max-width: 320px) {
		.nav__logo-text,
		.nav__catalog,
		.nav__email,
		.nav__phone-number,
		.nav__switch-lang {
			display: none;
		}

		.nav__whatsapp {
			display: inline;
			margin-left: 22px;
		}

		.nav__burger {
			display: block;
		}

		& {
			padding: 7px 0 0;
			border-bottom: none;
		}

		.nav__logo img {
			width: 50px;
			height: 36px;
		}

		.nav__location {
			margin-left: 35px;
		}

		.nav__phone {
			margin-left: 68px;
		}

		.nav__menu-mobile {
			position: fixed;
			inset: 0;
			height: 91.9vh;
			background-color: $background-color;
			border-radius: 20px 0px 0px 20px;
			box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.1);
			z-index: 10000;

			&.nav__mobile-show {
				display: block;
			}

			.nav__mobile-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 2px solid #f3f8fb;
				padding: 26px 11px 15px 21px;

				.nav__mobile-title {
					color: $primary-color;
					font-size: 18px;
					font-weight: 500;
				}

				.nav__mobile-control {
					display: flex;
					align-items: center;
					gap: 27px;

					.nav__mobile-lang {
						display: flex;
						gap: 20px;

						.nav__lang-btn {
							position: relative;
							font-size: 14px;
							font-weight: 400;
							line-height: 24px;
							background-color: transparent;

							& + .nav__lang-btn::before {
								content: '/';
								position: absolute;
								font-size: 14px;
								font-weight: 400;
								line-height: 24px;
								left: -12px;
							}

							&.active {
								font-weight: 500;
								border-bottom: 1px dashed $text-color;
							}
						}
					}
				}
			}

			.nav__menu-items {
				margin: 7px 11px 0 16px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-top: 7px;
				overflow-y: scroll;
				touch-action: pan-y;
				max-height: 75vh;

				&::-webkit-scrollbar-track {
					background-color: #f3f8fb;
					margin-right: 20px;
					border-radius: 5px;
				}

				&::-webkit-scrollbar {
					width: 11px;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 4px;
					background-color: $primary-color;
					padding: 2px;
				}

				.nav__menu-slider {
					.nav__slider-title {
						position: relative;
						display: inline-block;
						color: #1a1a1a;
						font-size: 14px;
						font-weight: 500;
						line-height: 24px;

						&::before {
							content: url('../../img/ic_arrow_right.svg');
							position: absolute;
							right: -13px;
						}
					}

					&.nav__slider-show {
						.nav__slider-title::before {
							right: -13px;
							transform: rotate(90deg);
						}

						.nav__slider-items {
							display: flex;
						}
					}

					.nav__slider-items {
						display: none;
						flex-direction: column;
						gap: 10px;
						margin-top: 7px;

						.nav__slider-item {
							display: flex;
							a {
								display: block;
								max-width: 235px;
								font-size: 14px;
								font-weight: 500;
								line-height: 24px;
							}

							&.selected {
								a {
									font-weight: 700;
								}
								&::before {
									content: url('../../img/ic_circle_filled.svg');
									padding-right: 17px;
								}
							}

							&::before {
								content: url('../../img/ic_circle_outline.svg');
								padding-right: 17px;
							}
						}
					}
				}
			}
		}
	}
}
