* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button,
input,
select,
textarea {
	font-family: inherit;
	outline: none;
	border: none;
	color: inherit;
}

button,
select {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}
